* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
nav {
    background-color: #1e0342;

}
nav a{
    padding: 0 10px;
}
nav a:hover{
    background-color: white;
    color: #1e0342;
}

main{
    background-color: #0e46a3;
}
table{
    border-collapse: collapse;
    border: 1px solid;
    padding: 5px;
    background-color: #046b1f;
}
caption{
    border: 1px solid;
    padding: 5px;
    background-color: #046b1f;
    color: rgb(204, 204, 204);
    font-weight: bold;
}
thead th{
    border: 1px solid;
    padding: 5px;
    color: rgb(204, 204, 204);
    text-align: center;
    font-weight: bold;

}
tbody td{
    border: 1px solid;
    padding: 5px;
    color: rgb(204, 204, 204);
    text-align: center;

}
footer{
    background-color: #e1f7f5;
}
footer a{
    color: #1e0342;
}
p{
    color: #1e0342;
}
footer a:hover{
    background-color: white;
    color: #1e0342;
}