* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
nav {
    background-color: #1e0342;

}
nav a{
    padding: 0 10px;
}
nav a:hover{
    background-color: white;
    color: #1e0342;
}
header{
    background-color: #0e46a3;
}
main{
    background-color: #0e46a3;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer{
    background-color: #e1f7f5;
}
footer a{
    color: #1e0342;
}
p{
    color: #1e0342;
}
footer a:hover{
    background-color: white;
    color: #1e0342;
}